body{
   
}
li{
   width:50%;
   height: 50px;
   border: 2px solid;
   background-color: green;
   border-radius: 5px;
   margin-bottom: 15px;
}
a{
   
}   
.main{
    width:500px;
    margin: 0 auto;
    
    
}
