body{
   padding-top:30px;
   
}

ul{
   width:100%; 
}
li{
   width:100%;
   height: 50px;
   
   margin-bottom: 20px;
   list-style-type: none;
   
}
a{
 text-decoration: none;  
}   
.main{
    width:500px;
    margin: 0 auto;
    background: green;
    
}
