body{
   
}
li{
/*    width:50%;
   height: 50px;
   border: 2px solid;
   background-color: green;
   border-radius: 5px; */
   margin-bottom: 20px;
   list-style-type: none;
   
}
a{
 text-decoration: none;  
}   
.main{
    width:500px;
    margin: 0 auto;
    
    
}
